body {
    background-color: #d5deda;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

header > img {
    display: block;
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

nav {
    background-color: #36454F;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    padding: 10px;
    font-size: 24px;
	font-weight: bold;
	text-align: center;
    text-decoration: none;
    margin: 0 20px;
	transition: background-color 0.3s;
}

nav li {
    display: inline-block;
}

nav a:hover {
    background-color: #333;
    text-decoration: underline;
}

/* CSS for the banner container */
.container_banner {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: auto;
    height: 150px;
    flex: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
/* CSS for the banner image */
.container_banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    filter: brightness(60%);
}
/* CSS for the heading on banner image */
.heading1 {
    position:absolute;
    color: white;
    font-size: 36px;
    font-weight: bold;
    top: -20px;
    left: 15px;
}
  /* CSS for the text paragraph on banner image */
  .text1 {
    position: absolute;
    color: white;
    font-size: 15px;
    line-height: 1;
    max-width: 80%;
    top: 70px;
    left: 16px;
    text-align: left;
}

/* CSS for the columns */
.column {
    background-color:#d8d2b1;
    width: auto;
    height: 400px;
    flex: 1;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
}

.margin{
    margin-right: 10px;
}

/* CSS for the column images */
.image-column img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.image-column {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
  
.heading2 {
    margin-top: 10px;
    font-size: 20px;
}

p {
    font-size: 15px;
    line-height: 1;
    color: #5c5b5b;
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

#text_footer {
    text-align: right;
}

#logo_footer {
    width: 8%;
    height: 60%;
}